@charset "UTF-8";
@import url(../components/buttons/buttons.css);
.main-grid {
  display: grid;
  place-content: center;
  background-color: white;
  max-width: 100vw;
}
.main-grid img {
  vertical-align: middle;
  margin-right: 5px;
}
.main-grid .main-grid-content {
  margin-top: 100px;
  display: grid;
  gap: 43px 0px;
}
.main-grid .main-grid-content .main-grid-content-checkbox {
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.main-grid .main-grid-content .main-grid-content-checkbox .main-grid-content-checkboxStyle {
  display: flex;
  align-items: center;
}
.main-grid .main-grid-content .main-grid-content-checkbox .main-grid-content-checkboxStyle #myCheckbox {
  margin-right: 10px;
}
.main-grid .main-grid-content .main-grid-content-checkbox input[type=checkbox] {
  appearance: none;
  width: 20px; /* Largura do checkbox */
  height: 20px; /* Altura do checkbox */
  border-radius: 50%; /* Transforma o checkbox em um círculo */
  border: 1px solid #333; /* Borda do checkbox */
  outline: none;
  cursor: pointer;
  margin-right: 5px; /* Espaçamento entre o checkbox e o texto */
}
.main-grid .main-grid-content .main-grid-content-checkbox input[type=checkbox]:checked {
  background-color: blue;
}
.main-grid .main-grid-content .main-grid-content-planos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  line-height: 40px;
  max-width: 100vw;
}
.main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardUm, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardDois, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardTres {
  overflow: hidden;
  height: 700px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 40px;
  background-color: #f7f5f2;
}
.main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardUm .informacoesCard, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardDois .informacoesCard, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardTres .informacoesCard {
  margin-bottom: 10px;
}
.main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardUm .informacoesCard p, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardDois .informacoesCard p, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardTres .informacoesCard p {
  font-size: 18px;
  margin-bottom: 10px;
}
.main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardUm .informacoesCard h1, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardDois .informacoesCard h1, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardTres .informacoesCard h1 {
  font-size: 34px;
  margin-bottom: 10px;
}
.main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardUm button, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardDois button, .main-grid .main-grid-content .main-grid-content-planos .main-grid-planos-cardTres button {
  margin-bottom: 20px;
}

.apoioDropbox {
  margin-top: 70px;
  background-color: #f7f5f2;
  display: grid;
  place-content: center;
}
.apoioDropbox .apoioDropbox-content {
  align-self: center;
  margin-top: 60px;
  padding: 40px 60px;
  width: 1400px;
}
.apoioDropbox .apoioDropbox-content .apoioDropbox-titulo {
  text-align: center;
  font-size: 31px;
  font-weight: 400;
  margin-bottom: 80px;
}
.apoioDropbox .apoioDropbox-content .apoioDropbox-descricao {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
}
.apoioDropbox .apoioDropbox-content .apoioDropbox-descricao p {
  max-width: 250px;
  line-height: 25px;
}
.apoioDropbox .apoioDropbox-content .apoioDropbox-descricao h2 {
  font-size: 20px;
  text-align: center;
}
.apoioDropbox .apoioDropbox-content .apoioDropbox-descricao img {
  margin-bottom: 20px;
  align-items: baseline;
}

.equipesDropbox {
  display: grid;
  place-content: center;
  background-color: #1e1919;
}
.equipesDropbox .equipesDropbox-content {
  padding: 59px 0px;
  display: grid;
}
.equipesDropbox .equipesDropbox-content h1 {
  color: white;
  font-size: 38px;
  font-family: var(--fonte-titulo);
  font-weight: 500;
}
.equipesDropbox .equipesDropbox-content button {
  justify-self: center;
  margin-top: 30px;
  display: flex;
  color: white;
  font-size: 16px;
}
.equipesDropbox .equipesDropbox-content p {
  font-weight: 600;
  border-bottom: 1px solid #a09d9b;
}
.equipesDropbox .equipesDropbox-content p:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.carosel {
  background-color: #242121;
  display: grid;
  place-content: center;
}
.carosel .carosel-content {
  padding: 70px;
  display: grid;
  gap: 50px;
  grid-template-columns: 100px 1fr 2fr 100px;
  place-self: center;
  max-width: 70%;
}
.carosel .carosel-content .carosel-background-logoUm {
  display: grid;
  height: 337px;
  width: 337px;
  background-color: red;
}
.carosel .carosel-content .carosel-background-logoUm img {
  place-self: center;
}
.carosel .carosel-content .carosel-text {
  color: white;
  display: grid;
  gap: 30px;
  align-content: center;
}
.carosel .carosel-content .carosel-text button {
  display: flex;
  align-items: center;
}
.carosel .carosel-content .carosel-text button p {
  font-weight: 500;
  border-bottom: 1px solid #a2a09e;
}
.carosel .carosel-content .carosel-text button p:hover {
  border-bottom: 1px solid white;
}
.carosel .carosel-content .carosel-text p {
  color: white;
  font-size: 18px;
  line-height: 27px;
}
.carosel .carosel-content .carosel-text .carosel-autorText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.carosel .carosel-content .carosel-text .carosel-autorText .carosel-autorText-title {
  display: block;
  margin-bottom: 5px;
}
.carosel .carosel-content .carosel-text .carosel-autorText .carosel-autorText-about {
  color: #a09d9b;
}
.carosel .carosel-content .carosel-arrowLeft, .carosel .carosel-content .carosel-arrowRight {
  cursor: pointer;
  place-self: center;
}

.main-tiposdeUso {
  display: grid;
  place-content: center;
  background-color: #1e1919;
}
.main-tiposdeUso img {
  max-width: 100%;
}
.main-tiposdeUso .main-tiposdeUso-content {
  padding: 50px;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  color: white;
}
.main-tiposdeUso .main-tiposdeUso-content .main-tiposdeUso-Items {
  border-radius: 4px;
  display: grid;
  background-color: #2b2929;
}
.main-tiposdeUso .main-tiposdeUso-content .main-tiposdeUso-Items .main-tiposdeUso-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-tiposdeUso .main-tiposdeUso-content .main-tiposdeUso-Items .main-tiposdeUso-text p {
  max-width: 90%;
  line-height: 27px;
  color: #b3b3b3;
  font-size: 18px;
}
.main-tiposdeUso .main-tiposdeUso-content .main-tiposdeUso-Items .main-tiposdeUso-Items-content {
  display: grid;
  gap: 40px;
  padding: 50px 40px;
}
.main-tiposdeUso .main-tiposdeUso-content .main-tiposdeUso-Items .main-tiposdeUso-Items-content button {
  display: flex;
  justify-self: start;
  align-items: center;
  height: 55px;
}

#main-tiposdeUso-titleFooter {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 30px;
  place-self: center;
}

#main-tiposdeUso-botaoGratuito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  place-self: center start;
  grid-column: 2;
  width: 80%;
}

@media (max-width: 1000px) {
  .main-grid-content-planos {
    grid-template-columns: 1fr !important;
    width: 80vw;
  }
}

/*# sourceMappingURL=main.css.map */
