.footer{
    display: grid;
    justify-content: center;
    background-color: #000000;
    color: white;
    height: 700px;
    .footer-content{
        height: auto;
        display: flex;
        gap: 130px;
        padding-top: 60px;
        align-content: center;
            dt{
               font-size: 20px;
               cursor: pointer;
            }
            dd{
                font-size: 16px;
            }
            img{
                margin-left: 5px;
            }
            
    } 
}

#footer-content-ddEscondido{
    display: none;
    &.ativo{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        margin-top: 20px;
        dd{
            color: rgb(209, 209, 209);
            text-align: start;
            &:hover{
                color: white;
                cursor: pointer;
                text-decoration: underline rgb(255, 255, 255); /* Espessura de 3px e espaçamento de 2px */
                text-decoration-skip: 20px;
            }
        }
    }
}

.footer-iconsLink{
    padding-top: 400px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    .footer-iconsLink-social{
        display: flex;
        gap: 20px;
        align-content: center;
        img{
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover{
                transform: translateY(-10px);
            }
        }
    }
    .footer-detalhe{
        display: block;
        width: 10%;
        height: .8px;
        background-color: #6e6e6e;
    }
    .footer-language{
        display: flex;
        align-items: center;
        gap: 10px;
        button{
           all: unset;
           font-size: 17px;
           margin-left: 3px;
           &:hover{
            cursor: pointer;
            text-decoration: underline 1px solid rgb(255, 255, 255);
           }
        }
    }

}

#icon {
    transition: transform 0.3s ease; 
  }
  