@import url(../components/buttons/buttons.css);

.main-grid{
    display: grid;
    place-content: center;
    background-color: white;
    max-width: 100vw;
    img{
        vertical-align: middle;
        margin-right: 5px;
    }
    .main-grid-content{
        margin-top: 100px;
        display: grid;
        place-content: center;
        gap: 43px 0px;
        .main-grid-content-checkbox{
            font-size: 18px;
            display: flex;
            align-items: flex-end;
            gap: 30px;
            .main-grid-content-checkboxStyle{
                display: flex;
                align-items: center;
                #myCheckbox{
                    margin-right: 10px;
                }
            }
        }
        .main-grid-content-checkbox input[type="checkbox"] {
            appearance: none;
            width: 20px; /* Largura do checkbox */
            height: 20px; /* Altura do checkbox */
            border-radius: 50%; /* Transforma o checkbox em um círculo */
            border: 1px solid #333; /* Borda do checkbox */
            outline: none;
            cursor: pointer;
            margin-right: 5px; /* Espaçamento entre o checkbox e o texto */
            &:checked{
                background-color: blue;
            }
        }
        .main-grid-content-planos{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            line-height: 40px;
            max-width: 100vw;
            .main-grid-planos-cardUm, .main-grid-planos-cardDois, .main-grid-planos-cardTres{
                overflow: hidden;
                .informacoesCard{
                    p{
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    h1{
                        font-size: 34px;
                        margin-bottom: 10px;
                    }
                    margin-bottom: 10px;
                }
                button{
                    margin-bottom: 20px
                }
                height: 700px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 40px;
                background-color: #f7f5f2;
            }
        }
    }   
}

    .apoioDropbox{
        margin-top: 70px;
        background-color: #f7f5f2;
        display: grid;
        place-content: center;
        .apoioDropbox-content{
            align-self: center;
            margin-top: 60px;
            padding: 40px 60px;
            .apoioDropbox-titulo{
                margin-top: 10px;
                text-align: center;
                font-size: 31px;
                font-weight: 400;
                margin-bottom: 90px;
            }
            .apoioDropbox-descricao{
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                gap: 30px;
                p{
                    max-width: 250px;
                    line-height: 25px;
                }
                h2{
                    font-size: 20px;
                    text-align: center;
                }
                img{
                    margin-bottom: 20px;
                    align-items: baseline;
                }
            }
        }
    }

    .equipesDropbox{
        display: grid;
        place-content: center;
        background-color: #1e1919;
        .equipesDropbox-content{
            padding: 59px 0px;
            display: grid;
            h1{
                color: white;
                font-size: 38px;
                font-family: var( --fonte-titulo);
                font-weight: 500;
            }
            button{
                justify-self: center;
                margin-top: 30px;
                display: flex;
                color: white;
                font-size: 16px;
            }
            p{
                font-weight: 600;
                border-bottom: 1px solid #a09d9b;
                &:hover{
                    border-bottom: 1px solid rgb(255, 255, 255);
                }
            }
        }
    }

.carosel{
    background-color: #242121;
    display: grid;
    place-content: center;
    .carosel-content{
        padding: 70px;
        display: grid;
        gap: 50px;
        grid-template-columns: 100px 1fr 2fr 100px;
        place-self: center;
        max-width: 70%;
        .carosel-background-logoUm{
            display: grid;
            height: 337px;
            width: 337px;
            background-color: red;
            img{
                place-self: center;
            }
        }
        .carosel-text{
            color: white;
            display: grid;
            gap: 30px;
            align-content: center;
            button{
                display: flex;
                align-items: center;
                p{
                    font-weight: 500;
                    border-bottom: 1px solid #a2a09e;
                    &:hover{
                        border-bottom: 1px solid white;
                    }
                }
            }
            p{
                color: white;
                font-size: 18px;
                line-height: 27px;
            }
            .carosel-autorText{
                display: flex;
                flex-direction: column;
                gap: 2px;
                .carosel-autorText-title{
                    display: block;
                    margin-bottom: 5px;
                }
                .carosel-autorText-about{
                    color: #a09d9b;
                }
            }
        }
        .carosel-arrowLeft, .carosel-arrowRight{
            cursor: pointer;
            place-self: center;
        }
    }
}

.main-tiposdeUso{
    display: grid;
    place-content: center;
    background-color: #1e1919;
    img{
        max-width: 100%;
    }
    .main-tiposdeUso-content{
        padding: 50px;
        max-width: 1300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        color: white;
        .main-tiposdeUso-Items{
            border-radius: 4px;
            display: grid;
            background-color: #2b2929;
            .main-tiposdeUso-text{
                display: flex;
                flex-direction: column;
                gap: 20px;
                p{
                    max-width: 90%;
                    line-height: 27px;
                    color: #b3b3b3;
                    font-size: 18px;
                }
            }
            .main-tiposdeUso-Items-content{
                display: grid;
                gap: 40px;
                padding: 50px 40px;
                button{
                    display: flex;
                    justify-self: start;
                    align-items: center;
                    height: 55px;
                }
            }
        }
    }
}

#main-tiposdeUso-titleFooter{
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 30px;
    place-self: center
}

#main-tiposdeUso-botaoGratuito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    place-self: center start;
    grid-column: 2;
    width: 80%;
}

/* Iphone 14 pro max */
@media(max-width: 430px){
    .main-grid{
        .main-grid-content{
            .main-grid-content-checkbox{
                font-size: 14px;
                max-width: 100%;
                gap: 15px;
            }
        }
        .main-grid-content-planos{
            gap: 10px;
            .main-grid-planos-cardUm, .main-grid-planos-cardDois, .main-grid-planos-cardTres{
                padding: 15px !important;
                .botaoSublinhado{
                    padding: 0px;
                }
                height: auto !important;
                h1{
                    font-size: 27px !important;
                }
                button{
                    padding: 13px;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
                p{
                    font-size: 14px;
                    width: 100%;
                }
            }
           
        }
    }
    .apoioDropbox{
        .apoioDropbox-content{
            h1{
                font-size: 20px;
                text-align: center;
                text-shadow: 1px 1px 1px rgba(138, 138, 138, 0.2);
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 1.5;
            }
            .apoioDropbox-descricao{
                .apoioDropbox-descricao-responsive{
                    p{
                        font-size: 14px;
                        max-width: 100%;
                    }
                    h2{
                        font-size: 20px;
                        max-width: 100%;
                    }
                    img{
                        max-width: 10%;
                        display: grid;
                        align-self: start;
                    }
                }
            }
        }
    }
    .equipesDropbox{
        .equipesDropbox-content{
            place-content: center;
            padding: 30px;
            h1{
                font-size: 17px !important;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .main-tiposdeUso{
        button{
            height: 20px;
            font-size: 12px;
        }
    }
    #main-tiposdeUso-titleFooter{
        font-size: 25px;
    }
}

/* desktop */
@media(max-width: 800px){
    .main-grid-content-planos {
        grid-template-columns: 1fr !important;
        width: 80vw;
    }
    .apoioDropbox{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100vw;
        .apoioDropbox-content{
            display: grid;
            grid-template-columns: 1fr;
            .apoioDropbox-titulo{
                font-size: 20px;
            }
            .apoioDropbox-descricao{
                display: flex;
                flex-direction: column;
                gap: 40px;
                margin-bottom: 30px;
                p{
                    font-size: 15px;
                    max-width: 100%;
                }
                h2{
                    font-size: 20px;
                    text-align: start;
                    margin-bottom: 5px;
                }
                img{
                    grid-row: 2;
                }
                .apoioDropbox-descricao-responsive{
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }
    .equipesDropbox{
        .equipesDropbox-content{
            h1{
                font-size: 27px;
            }
        }
    }
    .main-tiposdeUso{
        .main-tiposdeUso-content{
            max-width: 80%;
            display: flex;
            flex-direction: column;
            place-self: center;
        }
    }
    #main-tiposdeUso-titleFooter{
        place-self: start;
        padding: 0px;
    }
    #main-tiposdeUso-botaoGratuito{
        place-self: start;
    }
}
